{% load static %}
<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">            <!--rendering properly in mobile devices-->

    <link rel="stylesheet" type="text/css" href="../../static/chat/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/45e03a14ce.js"></script>
</head>

<body>
    <div class="main_section">
        <div class="container">
            <div class="chat_container">
                <div class="col-sm-3 chat_sidebar">
                    <div class="row">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="Conversation" />
                                <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                        <div class="dropdown all_conversation">
                            <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-weixin" aria-hidden="true"></i>
                                All Conversations
                                <span class="caret pull-right"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><a href="#"> All Conversation </a>  <ul class="sub_menu_ list-unstyled">
                                <li><a href="#"> All Conversation </a> </li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                            </li>
                            <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
               </ul>
            </div>
            <div class="member_list">
               <ul class="list-unstyled">
                  <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/US/en/999/UP2107-CUSA04236_00-DONTSTARVETOGETH/1557248198000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">5월 26일의 매칭</strong> <strong class="pull-right">
                           09:45AM</strong>
                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font">Don't starve together</strong> <span class="badge pull-right">3</span>
                        </div>
                     </div>
                  </li>
                  <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right ">
                           09:45AM</strong>
                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font">(123) 123-456</strong> <span class="badge pull-right">3</span>
                        </div>
                     </div>
                  </li>
                  <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                           09:45AM</strong>
                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font">(123) 123-456</strong> <span class="badge pull-right">3</span>
                        </div>
                     </div>
                  </li>
                          <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                           09:45AM</strong>
                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font">(123) 123-456</strong> <span class="badge pull-right">3</span>
                        </div>
                     </div>
                  </li>
                          <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                           09:45AM</strong>
                        </div>
                        <div class="contact_sec">
                           <strong class="primary-font">(123) 123-456</strong> <span class="badge pull-right">3</span>
                        </div>
                     </div>
                  </li>
               </ul>
            </div></div>
         </div>
         <!--chat_sidebar-->


         <div class="col-sm-9 message_section">
         <div class="row">
         <div class="new_message_head">
         <div class="pull-left"><button><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Message</button></div><div class="pull-right"><div class="dropdown">
  <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-cogs" aria-hidden="true"></i>  Setting
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
</div></div>


         </div><!--new_message_head-->

          <div class="chat_area">
            <p>채팅이 시작되었습니다.</p>
            <ul id="chat-log" class="list-unstyled">
            </ul>
          </div>


        <div class="message_write">
            <!-- <textarea class="form-control" placeholder="type a message"></textarea> -->
            <input id="chat-message-input" class="form-control" type="text" placeholder="type a message" />
            <div class="clearfix"></div>
         <div class="chat_bottom">

            <input id="chat-message-submit" class="pull-right btn btn-success" type="button" value="Send"/>
        </div>
    </div>
    </div>
    </div> <!--message_section-->
    </div>
    </div>
</div>
</body>

<script>
    var id = "{{user.get_username}}";
    var roomName = {{ room_name_json }};

    function addLog(message, name) {
      var today = new Date();
      var time = today.getHours() + ":" + today.getMinutes();
      if(name === id) {
        $("#chat-log").append("<li class='left clearfix admin_chat'><div class='chat-body1 clearfix'><p>" + message + "</p><div class='chat_time pull-right'>"+ time +"</div></div></li>");
      }
      else {
        $("#chat-log").append("<li class='left clearfix'><span class='chat-img1 pull-left'><img src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png' alt='User Avatar' class='img-circle'></span><div class='chat-body1 clearfix'><p>" + message + "</p><div class='chat_time pull-left'>"+ time +"</div></div></li>");
      }
    }



    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var name = data['name'];
        //document.querySelector('#chat-log').value += (message + '\n');

        if(message.length > 0) {
          addLog(message, name);
        }
    };

    /* document.querySelector('#chat-log').value += (message + '\n'); 대신 넣을 함수만들기
     * 새롭게 <li>를 만들어서 내용삽입 (좌우가 구분 되도록 함수 두 개로 분리해서 만들기)
     */

    function showOptionsMenu(button) {
      var songId = $(button).prevAll(".songId").val();    // button refers to the 'more.png' button
      var menu = $(".optionsMenu"); // create a jquery object
      var menuWidth = menu.width();

      menu.find(".songId").val(songId);

      var scrollTop = $(window).scrollTop();    // Distance from top of window to top of document
      var elementOffset = $(button).offset().top;   // Distance from top of ducument to the button. $(button) is a jquery object.
      var top = elementOffset - scrollTop;
      var left = $(button).position().left;

      menu.css({"top": top+"px", "left": left-menuWidth+"px", "display": "inline"});
    }

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'name' : id,
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>

</html>
