#slides {
    height: 480px;
    margin: auto;
    margin-top:50px;
}

.titleMessage .heading {
    margin-top: 91px;
}

#mainFunctions {
    width: 100%;
    display: block;
    position: relative;
}

.matchService {
    height: 300px;
    position: relative;
}

#matchStart{
    position: absolute;
    right: 100px;
    width: 30%;
}
#myPage{
    position: absolute;
    left: 100px;
    width: 30%;
}

.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #000;
  height: 100%;
}
.demo-card-wide > .mdl-card__menu {
  color: #000;
}

.addgame{
  position: absolute;
  top:100px;
  left:200px;
}
.current-user-game{
    display: block;
    position:relative;
    top:80px;
}

#absolute3{
  position:relative;
}




.body {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.overlay {
  width: 97%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
}

.slides-navigation {
  z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
  right: 20px;
  background-image: url(../img/icons/next.png);
}

.titleMessage {
  position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
    font-size: 50px;
}

.titleMessage .heading .sub {
    font-size: 23px;
    letter-spacing: 3px;
}


/* login */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#background {
  background-color: #000;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

#loginContainer * {
  color: #fff;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: normal;
  line-height: 1em;
  box-sizing:border-box;
}

#loginContainer {
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 1024px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}
::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}

#inputContainer {
  width: 400px;
  padding: 45px;
  float: left;
  border-right: 1px solid #999;
}

#inputContainer h2 {
  text-align: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
  display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 100%;
}

#inputContainer label {
  color: #a0a0a0;
    font-size: 13px;
    display: block;
    margin-top: 15px;
}

#inputContainer button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 250px;
    color: #fff;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
}

#inputContainer button:hover {
    cursor: pointer;
}

.hasAccountText span {
  font-size: 12px;
    font-weight: bold;
    cursor:  pointer;
}

.hasAccountText {
  text-align: center;
}

#loginForm,
#registerForm {
  display: none;
}

#loginText {
  padding: 45px;
    display: table-cell;
}

#loginText h1 {
  color: #07d159;
    font-size: 60px;
    font-weight: bold;
}

#loginText h2 {
  margin: 35px 0;
}

#loginText ul {
  padding: 0;
}

#loginText li {
  font-size: 18px;
    list-style-type: none;
    padding: 5px 30px;
    background: url(../img/icons/checkmark.png) no-repeat;
}

#inputContainer .errorMessage {
  color: #07d159;
    font-size: 12px;
    display: block;
}
