{% extends 'base.html' %}
{% block content %}


<style>

#absolute{
    position:absolute;
    top:100px;
    left:500px;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}
</style>
<div id="absolute">
<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text">
    <div id="loading">
      <h3> {{name}}게임을 검색중입니다 </h3>
      <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    </div>
    <div id="matched">
      <h3> 매치 성공 </h3>
      <a href = "/chat/{{chatroom}}">
        <button onClick="action()" id="chatbutton" class="mdl-button mdl-js-button mdl-button--raised">
        채팅방으로 이동
        </button>
      </a>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
    var chat = "{{chatroom}}";
    
    if(chat == "null") {
      document.getElementById('loading').style.visibility = 'visible';
      document.getElementById('matched').style.visibility = 'hidden';
    } else {
      document.getElementById('loading').style.visibility = 'hidden';
      document.getElementById('matched').style.visibility = 'visible';
    }
    
  </script>
    
{% endblock %}
