{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="page-content">
<div class="loader">
  <div class="inner"></div>
</div>

<div id="slides" class="col-md-12">
  <div class="overlay"></div>

  <div class="slides-container">
    <img src="../../static/match/img/slide1.jpg" alt="">
    <img src="../../static/match/img/slide2.jpg" alt="">
    <img src="../../static/match/img/slide3.jpg" alt="">
  </div>

  <div class="titleMessage">
    <div class="heading">
      <p class="main">My Squad</p>
      <p class="sub typed"></p>
    </div>
  </div>

  <nav class="slides-navigation">
    <a href="#" class="next"></a>
    <a href="#" class="prev"></a>
  </nav>
</div>


<div class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">지금 바로 게임을 시작하세요!</h1>
    <p class="lead text-muted">가장 많은 유저가 즐기고 있는 게임을 바로 시작할 수 있습니다.</p>
    <p>
      <a href="#" class="btn btn-primary my-2">시작하기</a>
      <a href="#" class="btn btn-secondary my-2">취소하기</a>
    </p>
  </div>
</div>

  <div class="album py-0 bg-light">
    <div class="container">
      <div class="row">
        {% for g in ugame %}
        <!--Card Start-->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">  
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                  <defs>
                      <pattern id="{{g.gamename}}img" patternUnits="userSpaceOnUse" width="100%" height="100%">
                          <image xlink:href="../../static/match/img/{{g.gamename}}.png" x="0" y="0"
                              width="100%" height="100%" />
                      </pattern>
                  </defs>
                  <rect x="0" y="0" width="100%" height="100%" fill="url(#{{g.gamename}}img)"/>
              </svg>
            <div class="card-body">
              <p class="card-text">{{g.gamename}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                  <button id="{{g.gamename}}startbutton" type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModalCenter">시작하기</button>
                  
                </div>
                <small class="text-muted">대기중인 인원 : 9</small>

            </div>
          </div>
        </div>
      </div>
      <!--Card End-->
      <script>
        var url="/match/gamesearch/";
        function getmatchdata() {
          $.ajax({
            type: "POST",
            url: url,
            data: {'name' : '{{g.gamename}}'},
            dataType: 'html',
            success: function(data){
              var returnval = JSON.parse(data)
              var stat = $("#exampleModalCenter").attr("style");
              if(returnval.chatroom == null && stat == "display: block;"){
                document.getElementById('loading').style.visibility = 'visible';
                document.getElementById('matched').style.visibility = 'hidden';
                setTimeout(function () {
                      getmatchdata();
                }, 1000)
              }else{
                $("#chatlink").attr("href", "/chat/"+returnval.chatroom)
                document.getElementById('loading').style.visibility = 'hidden';
                document.getElementById('matched').style.visibility = 'visible';
              }
            }
          }).fail(function() {
            //some error logic
          });
        }
        $("#{{g.gamename}}startbutton").click(function(){
          document.getElementById('loading').style.visibility = 'visible';
          document.getElementById('matched').style.visibility = 'hidden';
          setTimeout(function(){
            getmatchdata();
          }, 2000)
        })
      </script>
      {% endfor %}
    </div>
  </div>
</div>
</div>


{% else %}



<div id="background">

  <div id="loginContainer">

    <div id="inputContainer">

      <form method="POST" action="{%url 'login'%}">
          {% csrf_token %}
          <h2>Login to your account</h2>
          <p>
            <label for="loginUsername">Your ID</label>
            <input id="loginUsername" name="username" type="text" value="" placeholder="e.g. bartSimpson" required>
          </p>

          <p>
            <label for="loginPassword">Password</label>
            <input id="loginPassword" type="password" name="password" placeholder="Your password" required>
          </p>

          <button type="submit" name="loginButton">LOG IN</button>

          <div class="hasAccountText">
            <a class="hasAccountText" href = "{% url  'signup' %}">
              <span id="hideLogin">Don't have an account yet? Sign up here.</span>
            </a>
          </div>
      </form>

    </div>

    <div id="loginText">
      <h1>Find your gamemates</h1>
      <h2>Matching service for thousands steam games for free!</h2>
      <ul>
        <li>Discover new game that you like</li>
        <li>Create your own game list</li>
        <li>Chat with your game friends</li>
      </ul>
    </div>


  </div>
</div>



{% endif %}

{% endblock content %}

