{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">            <!--rendering properly in mobile devices-->

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

        <link rel="stylesheet" type="text/css" href="../static/match/css/superslides.css">
        <link rel="stylesheet" type="text/css" href="../static/match/css/owl.carousel.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="../static/match/css/style.css">

        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <title>Kyte</title>
    </head>


    <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <!-- 상단 네비게이션 바 -->
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="logo" role="link" tabindex="0">
                  <img src="../static/match/img/icons/logo.png">
                </span>
                  <!-- Title -->
                  <a class="siteTitle" href ="{% url 'main' %}" style="text-decoration:none;"><span class="mdl-layout-title"><h1>mySquad</h1></span></a>
                  <!-- Add spacer, to align navigation to the right -->
                  <div class="mdl-layout-spacer"></div>
                  <!-- Navigation. We hide it in small screens. -->

                <nav class="mdl-navigation mdl-layout--large-screen-only">

                    {% if user.is_authenticated %}
                        <a class="mdl-navigation__link" href="">{{ user.get_username }}님 안녕하세요</a>
                        <a class="mdl-navigation__link" href="{% url 'logout'%}?next={{request.path}}">로그아웃</a>
                    {% else %}
                        <a class="mdl-navigation__link" href="{% url 'signup' %}">회원가입</a>
                        <a class="mdl-navigation__link" href="{% url 'login'%}?next={{request.path}}">로그인</a>
                    {% endif %}

                </nav>
            </div>
        </header>


            <!-- bootstrap start -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Jekyll v3.8.5">

        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      #matched{
        visibility: hidden
      }
      .modal-body{
        text-align: center;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- bootstrap end -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="loading">
              <h3> 게임을 찾는중입니다.. </h3>
              <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
            </div>
            <div class="matched">
              <h3> 매치 성공 !! </h3>
            </div>
          </div>
          <div class="modal-footer matched">
              <a id="chatlink" href = "/chat/{{chatroom}}">
            <button type="button" onClick="action()" id="chatbutton" class="btn btn-primary">입장하기</button>
          </a>
          </div>
        
      </div>
    </div>
  </div>
  <!--Modal-->

    <!-- 사이드 네비게이션 바 -->
    <div class="mdl-layout__drawer">
      <a href="{% url 'main' %}"><span class="mdl-layout-title">mySquad</span></a>
      <nav class="mdl-navigation">
      {% if user.is_authenticated %}
           <a class="mdl-navigation__link" href="{% url 'mypage'%}">마이 페이지</a>
      {% else %}
           <a class="mdl-navigation__link" href="{% url 'signup' %}">회원가입</a>
           <a class="mdl-navigation__link" href="{% url 'login'%}?next={{request.path}}">로그인</a>
      {% endif %}

        <a class="mdl-navigation__link" href=""></a>
        <a class="mdl-navigation__link" href=""></a>
      </nav>
    </div>

    {% block content %}

    {% endblock content %}

  {% comment %}

  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">Kyte</div>
      <ul class="mdl-mini-footer__link-list">
        <li><a href="">Help</a></li>
        <li><a href="">Privacy & Terms</a></li>
      </ul>
    </div>
  </footer>
  {% endcomment %}
</div>

  <script src="../static/match/js/jquery.superslides.min.js"></script>
  <script src="../static/match/js/typed.min.js"></script>
  <script src="../static/match/js/owl.carousel.min.js"></script>
  <script src="../static/match/js/jquery.easypiechart.min.js"></script>
  <script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="../static/match/js/script.js"></script>

</body>
</html>
